.dark-high-contrast {
  --md-sys-color-primary: rgb(232 241 255);
  --md-sys-color-surface-tint: rgb(158 202 252);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(154 198 248);
  --md-sys-color-on-primary-container: rgb(0 12 26);
  --md-sys-color-secondary: rgb(232 241 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(182 196 215);
  --md-sys-color-on-secondary-container: rgb(1 12 25);
  --md-sys-color-tertiary: rgb(249 235 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(209 186 225);
  --md-sys-color-on-tertiary-container: rgb(19 4 33);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(236 240 249);
  --md-sys-color-outline-variant: rgb(190 195 203);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(23 75 117);
  --md-sys-color-primary-fixed: rgb(208 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(158 202 252);
  --md-sys-color-on-primary-fixed-variant: rgb(0 18 36);
  --md-sys-color-secondary-fixed: rgb(214 228 247);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(4 18 32);
  --md-sys-color-tertiary-fixed: rgb(241 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(213 190 229);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 10 39);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(77 80 85);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(29 32 36);
  --md-sys-color-surface-container: rgb(45 49 53);
  --md-sys-color-surface-container-high: rgb(56 60 64);
  --md-sys-color-surface-container-highest: rgb(68 71 76);
}
