.dark-medium-contrast {
  --md-sys-color-primary: rgb(195 210 131);
  --md-sys-color-surface-tint: rgb(191 206 127);
  --md-sys-color-on-primary: rgb(19 25 0);
  --md-sys-color-primary-container: rgb(137 151 79);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(201 206 172);
  --md-sys-color-on-secondary: rgb(20 24 4);
  --md-sys-color-secondary-container: rgb(143 148 117);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(165 212 200);
  --md-sys-color-on-tertiary: rgb(0 26 22);
  --md-sys-color-tertiary-container: rgb(108 153 143);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(252 251 238);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(203 204 188);
  --md-sys-color-outline: rgb(163 164 149);
  --md-sys-color-outline-variant: rgb(131 132 118);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(42 43 35);
  --md-sys-color-inverse-primary: rgb(65 77 11);
  --md-sys-color-primary-fixed: rgb(219 234 152);
  --md-sys-color-on-primary-fixed: rgb(14 19 0);
  --md-sys-color-primary-fixed-dim: rgb(191 206 127);
  --md-sys-color-on-primary-fixed-variant: rgb(48 58 0);
  --md-sys-color-secondary-fixed: rgb(225 230 195);
  --md-sys-color-on-secondary-fixed: rgb(15 19 2);
  --md-sys-color-secondary-fixed-dim: rgb(197 202 168);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 56 32);
  --md-sys-color-tertiary-fixed: rgb(189 236 224);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 17);
  --md-sys-color-tertiary-fixed-dim: rgb(161 208 196);
  --md-sys-color-on-tertiary-fixed-variant: rgb(13 61 53);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(14 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 21);
  --md-sys-color-surface-container: rgb(31 32 25);
  --md-sys-color-surface-container-high: rgb(42 43 35);
  --md-sys-color-surface-container-highest: rgb(52 53 45);
}
