.dark-high-contrast {
  --md-sys-color-primary: rgb(248 255 209);
  --md-sys-color-surface-tint: rgb(191 206 127);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(195 210 131);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(249 254 218);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(201 206 172);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(236 255 248);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(165 212 200);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(19 20 13);
  --md-sys-color-on-background: rgb(228 227 215);
  --md-sys-color-surface: rgb(19 20 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(70 72 60);
  --md-sys-color-on-surface-variant: rgb(252 252 235);
  --md-sys-color-outline: rgb(203 204 188);
  --md-sys-color-outline-variant: rgb(203 204 188);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 227 215);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(37 46 0);
  --md-sys-color-primary-fixed: rgb(223 239 156);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(195 210 131);
  --md-sys-color-on-primary-fixed-variant: rgb(19 25 0);
  --md-sys-color-secondary-fixed: rgb(229 234 199);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(201 206 172);
  --md-sys-color-on-secondary-fixed-variant: rgb(20 24 4);
  --md-sys-color-tertiary-fixed: rgb(193 241 228);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(165 212 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 26 22);
  --md-sys-color-surface-dim: rgb(19 20 13);
  --md-sys-color-surface-bright: rgb(57 58 49);
  --md-sys-color-surface-container-lowest: rgb(14 15 8);
  --md-sys-color-surface-container-low: rgb(27 28 21);
  --md-sys-color-surface-container: rgb(31 32 25);
  --md-sys-color-surface-container-high: rgb(42 43 35);
  --md-sys-color-surface-container-highest: rgb(52 53 45);
}
