.dark-medium-contrast {
  --md-sys-color-primary: rgb(197 223 255);
  --md-sys-color-surface-tint: rgb(158 202 252);
  --md-sys-color-on-primary: rgb(0 39 69);
  --md-sys-color-primary-container: rgb(104 148 195);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(208 222 241);
  --md-sys-color-on-secondary: rgb(25 39 53);
  --md-sys-color-secondary-container: rgb(132 146 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(235 212 252);
  --md-sys-color-on-tertiary: rgb(47 31 61);
  --md-sys-color-tertiary-container: rgb(158 137 173);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(216 220 229);
  --md-sys-color-outline: rgb(174 178 186);
  --md-sys-color-outline-variant: rgb(140 145 152);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(39 42 47);
  --md-sys-color-inverse-primary: rgb(23 75 117);
  --md-sys-color-primary-fixed: rgb(208 228 255);
  --md-sys-color-on-primary-fixed: rgb(0 18 36);
  --md-sys-color-primary-fixed-dim: rgb(158 202 252);
  --md-sys-color-on-primary-fixed-variant: rgb(0 56 95);
  --md-sys-color-secondary-fixed: rgb(214 228 247);
  --md-sys-color-on-secondary-fixed: rgb(4 18 32);
  --md-sys-color-secondary-fixed-dim: rgb(186 200 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 55 70);
  --md-sys-color-tertiary-fixed: rgb(241 219 255);
  --md-sys-color-on-tertiary-fixed: rgb(25 10 39);
  --md-sys-color-tertiary-fixed-dim: rgb(213 190 229);
  --md-sys-color-on-tertiary-fixed-variant: rgb(64 47 78);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(66 69 73);
  --md-sys-color-surface-container-lowest: rgb(5 8 11);
  --md-sys-color-surface-container-low: rgb(27 30 34);
  --md-sys-color-surface-container: rgb(37 40 45);
  --md-sys-color-surface-container-high: rgb(48 51 55);
  --md-sys-color-surface-container-highest: rgb(59 62 67);
}
