fixed.txt
junk.txt
lua-5.4.7/src/lapi.o
lua-5.4.7/src/lauxlib.o
lua-5.4.7/src/lbaselib.o
lua-5.4.7/src/lcode.o
lua-5.4.7/src/lcorolib.o
lua-5.4.7/src/lctype.o
lua-5.4.7/src/ldblib.o
lua-5.4.7/src/ldebug.o
lua-5.4.7/src/ldo.o
lua-5.4.7/src/ldump.o
lua-5.4.7/src/lfunc.o
lua-5.4.7/src/lgc.o
lua-5.4.7/src/liblua.a
lua-5.4.7/src/linit.o
lua-5.4.7/src/liolib.o
lua-5.4.7/src/llex.o
lua-5.4.7/src/lmathlib.o
lua-5.4.7/src/lmem.o
lua-5.4.7/src/loadlib.o
lua-5.4.7/src/lobject.o
lua-5.4.7/src/lopcodes.o
lua-5.4.7/src/loslib.o
lua-5.4.7/src/lparser.o
lua-5.4.7/src/lstate.o
lua-5.4.7/src/lstring.o
lua-5.4.7/src/lstrlib.o
lua-5.4.7/src/ltable.o
lua-5.4.7/src/ltablib.o
lua-5.4.7/src/ltm.o
lua-5.4.7/src/lua.mjs
lua-5.4.7/src/lua.o
lua-5.4.7/src/lua.wasm
lua-5.4.7/src/luac
lua-5.4.7/src/luac.o
lua-5.4.7/src/luac.wasm
lua-5.4.7/src/lundump.o
lua-5.4.7/src/lutf8lib.o
lua-5.4.7/src/lvm.o
lua-5.4.7/src/lzio.o
lua.c
safe-remove.txt
